<!DOCTYPE html>
<html lang="{{ site.lang }}">
  {% include head.html %}
  <body>
    <div class="site">
      {% include header.html %}
      <div id="content">
        <div class="post">
          <h1 class="posttitle">
            {{ page.title }}
          </h1>

          <div class="postinfo">
            <p class="published" title="{{ post.date | date_to_string }}">
            {{ page.date | date_to_string }}
            </p>
          </div>
        </div>

        <div class="article">
          {{ page.content }}
        </div>
      </div>

      {% include footer.html %}
    </div>
  </body>
</html>
